@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  src: url(/domine.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/robotomono.ttf) format('truetype');
}
