* {
  font-family: "Domine", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
tt {
  font-family: 'Roboto Mono', 'Lucida Console', monospace;
}
p {
    text-align: justify;
}
.code {
  font-family: 'Roboto Mono', 'Lucida Console', monospace;
}
figure {
    outline: #404040 solid thin;
    margin: auto;
    width: 80%;
    padding: 10px;
}
/* Extra space above subsections and threeheads */
h3, h4 {
    padding-top: 30px;
}
.opener-image {
    background-repeat:no-repeat;
    background-size:cover;
    min-height:300px;
}
.landing-image {
    background-repeat:no-repeat;
    background-size:cover;
}
.landing-container {
    position: relative;
    text-align: center;
}
.landing-title {
    position: absolute;
    bottom: 80px;
    text-align: center;
    font-size: 48px;
    width: 100%;
    font-style: italic;
    color: #eee;
}
.landing-subtitle {
    position: absolute;
    bottom: 42px;
    text-align: center;
    font-size: 40px;
    width: 100%;
    font-style: italic;
    color: #eee;
}
.landing-authors {
    position: absolute;
    bottom: 8px;
    text-align: center;
    font-size: 24px;
    width: 100%;
    color: #eee;
}

@media (max-width: 768px) {
  .landing-title {
      bottom: 58px;
      font-size: 28px;
  }
  .landing-subtitle {
      bottom: 36px;
      font-size: 22px;
  }
  .landing-authors {
      font-size: 16px;
  }
}

@media (max-width: 500px) {
    .landing-title {
/*        top: 6px;
        bottom: auto;*/
        font-size: 20px;
    }
    .landing-subtitle {
        font-size: 16px;
    }
    .landing-authors {
        font-size: 12px;
        bottom: 6px;
  }
}

.landing-text {
    font-size: 14pt;
}

.h3h4marginlink {
    padding-top: 30px;
}
.legend {
    font-style: normal;
    font-weight: normal;
    color: #000;
}
.fragmentname {
    font-style: italic;
}
.fragmentcode {
    display: block;
    unicode-bidi: embed;
    font-family: 'Roboto Mono', 'Lucida Console', monospace;
    font-size: 15px;
    white-space: pre;
    line-height: 1.35;
    padding-bottom: 5px;
}
.invisible {
  font-size: 0;
}
.redtext {
  color: #ff0000;
}
.midredtext {
  color: #a00000;
}
.eqno {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
a:link {
    color: #355090 !important;
    text-decoration: none;
}
a:visited {
    color: #355090 !important;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: none;
}
a:active {
    color: blue;
    text-decoration: none;
}
.codecarat.collapsed:after {  
    content: "\f0fe";
    font-weight: 400;
    font-size: 75%;
}
.codecarat:after {
    content: "\f0fe";
    font-weight: 900;
    font-size: 75%;
}

.tooltip-inner {
    max-width:300px !important;
    text-align:left !important;
    padding:3px 8px;
    color:#000 !important;
    background-color:#f2f2f2 !important;
    border-radius:.25rem
}

.footnote-button {
    background-color: #fff;
    border: none;
    color: #6080e0;
    padding: 0px 0px !important;
}

.footnote {
    font-size: 80%;
}

.leftcolumn {
    font-size: 20px;
}

.bluelink {
    color: #355090;
}

.exerciseicon {
    color: #355090;
    position: absolute;
    left: 5px;
    width: 0;
}

.nav-link.active {
    background-color: #eee !important;
}

@media (min-width: 767px) {
    .fixed-top-lg-navbar {
        position:fixed !important;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        z-index: 10;
    }
    .fixed-bottom-lg-navbar {
        position:fixed !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
        z-index: 10;
    }
    .maincontainer {
        padding-top: 110px;
        padding-bottom: 50px;
    }
    .maincontainer-extra {
        padding-top: 130px;
        padding-bottom: 50px;
    }
    .leftcolumn {
        text-align: right;
    }
}

div.figure-row {
    background-color: #fff;
    width: 100%; 
    margin: 6px auto;
    padding: 2px;
    text-align: center;
}

.figure-row img {
    padding: 8px;
    display: inline;
}

@media (max-width: 768px) { 
    .figure-row img {
        display: block;
        margin: 5px auto;
    }
}    

button.difficult-button {
    background-color: #fff;
}

.yojeri {
    background-color: #fff;
    color: #355090;
    padding: 6px 0px !important;
}

figcaption.caption {
    margin-top: 10pt;
    color: #355090;
}

div.figure {
    padding-top: 3pt;
}

li.exercise {
    margin: 20px 0;
}

li.bibitem {
    margin: 10px 0;
}

div.outerfigure {
    margin-top: 10px;
    margin-bottom: 30px;
}

div.MathJax_Display {
    padding-bottom: 15px;
}

div.displaymath {
    text-align: center;
    padding-bottom: 18px;
}

.container-fluid {
    max-width: 1280px;
}

.cse, .gsc-control-cse {
    background-color: #f8f9fa !important;
    border: none !important;
    width: 300px !important;
}
